
h1
{
  font-family: "Verdana", sans-serif;
}

h2 
{
  margin-left: 50px;
    font-family: "Verdana", sans-serif;
}


/* solid code below*/

.pushRight
{
  margin-left: 150px;
}


.centered
{
  width:100%;
  text-align: center;
  margin:auto;
  position:relative;
  transform: translateX(-50%);
  left:50%;
}

body 
{
  background:url("http://il6.picdn.net/shutterstock/videos/4538759/thumb/1.jpg");
  font-family: "Arial", sans-serif;
}

section
{
  padding: 50px;
}


#myImage
{
  margin-left: 150px;
}

a:visited {
    color: #3366ff;
}


label
{
  border-style: solid;
  border-color: white;
  padding:5px;
}

ul
{
  margin-left:50px;
}

/* my notes:
Use CSS to add the following to your site.

X Padding and border added to at least one element
X Margin added to at least one element
X At least one centered element (a footer message can be nice for this)
X A background image on at least one element
X A different font on at least one element
X A few elements styled using a class
X A different color for visited links
X An element styled with an ID

Add at least one media query to improve the responsiveness of your page.

/*